@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-user {
  width: 88px;
  margin-left: auto;
}

.header-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 88px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/main/index-background.jpg"), url("../images/main/index-backgroung-footer.svg");
  background-color: #8273d3;
  color: #000000;
  background-position: center, center;
  background-size: cover, 100% auto;
  background-repeat: no-repeat;

}

.lead {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;

}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-wide {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
}

.infrastructure {
  text-align: center;
}

.infrastructure-lead {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;

}

.infrastructure-item {
  width: 400px;
}

.infrastructure-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.infrastructure-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe {
  background-image: url("../images/main/blurred-background.png");
  background-color: #82b3d3 ;
  color: #f2f2f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3 ;
  color: #f2f2f2;

}

.page-footer {
  text-align: center
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
  text-decoration: none;

}

.copyright {

}

.filters-container {
  background-image: url("../images/catalog/filters-background.png");
  background-color: #82b3d3;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: #000000;
}

.breadcrumbs-link {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #f2f2f2;
  text-transform: capitalize;
}

.control-label {
  font-weight: 700;
}

.button-wrapper {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-filter-submit {
  background: #82b3d3 ;
}

.product-card {
  background-color: #f2f2f2;
}

.product-card-link-title {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.product-card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  line-height: 20px;
  font-weight: 700;
}

.pagination-current {
  color: #f2f2f2;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

